/* font size  */
$baseFontSize: 16px;
$minFontSize: 16px;

/* font family */
$poppinsFont: 'Poppins', sans-serif;
$montserratFont: 'Montserrat', sans-serif;

/* COLORS  */
$whithColor: #fff;
$titleColor: #2F281E;
$textColor: #544837;
$orangeColor: #FF9900;
$purpleColor: #7752BE;
$yellowColor: #FAB005;
$redColor: #F03E3D;
$blueColor: #4DADF7;
$lightBlueColor: #BCD0E5;
$darkBlueColor: #173A56;