.footer {
    padding: 70px 0;
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 50px;
        justify-content: space-between;
    }
    h4 {
        margin-bottom: 30px;
    }
    &__menu {
        order: 0;
        li {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
    &__form {
        input {
            margin-bottom: 25x;
            width: 340px;
        }
    }
}