.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 180px;
    padding: 7.5px;
    font-size: rem(16px);
    font-weight: 700;
    text-transform: capitalize;
    color: $whithColor;
    background-color: $orangeColor;
    border: none;
    border-radius: 4px;
    transition: background-color .5s ease;
    &:hover{
        background-color: $yellowColor;
    }
    &--mini {
        height: 46px;
        width: 110px;
        padding: 8px 15px;
        font-weight: 600;
    }
    &--white {
        color: $darkBlueColor;
        background-color: $whithColor;
        border: 1px solid $lightBlueColor;
        &:hover{
            background-color: $lightBlueColor;
        }
    }
}