.footer {
    font-family: $poppinsFont;
    border-top: 1px solid $lightBlueColor;
    min-height: 350px;
    padding: 35px 0;
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 20px;
    }
    h4 {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        color: $titleColor;
        margin-bottom: 10px; 
    }
    &__menu {
        
        li {
            font-family: $montserratFont;
            font-weight: 500;
            font-size: rem(16px);
            line-height: 1.625;
            color: $textColor;
            transition: color .3s ease;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
            &:hover {
                color: $orangeColor;
            }
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        input {
            display: flex;
            align-items: center;
            padding: 10px;
            border: 1px solid $lightBlueColor;
            border-radius: 4px;
            margin-bottom: 10px;
            justify-self: flex-start;
            height: 50px;
            width: 250px;
            font-family: $poppinsFont;
            font-size: rem(16px);
            color: $darkBlueColor;
            &:focus {
                border: 1px solid $orangeColor;
            }
            &::placeholder {
                color: $lightBlueColor;
                font-size: rem(16px);
                font-family: $poppinsFont;
            }
        }
    }
}


