.section.section--left {
    .subtitle {
        
    }
    .title {
        margin-bottom: 20px;
    }
    p {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    p.text {
        margin-bottom: 40px;    //
    }
    h4 {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: rem(16px);
        line-height: 1.625;
    }
}